{% load static %}

<footer class="bg-black text-light py-4 w-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-4 mb-6 py-4 text-md-left">
        <h5 class="text-uppercase mb-3"><a href="{% url 'contact' %}" class="text-light">Contact Us</a></h5>
        <p>Email: support@posters4u.com</p>
        <p>Phone: +123 456 7890</p>
        <div class="mb-5">
          <a href="https://www.facebook.com/" class="text-light mr-3" target="_blank" rel="noopener noreferrer"><i
              class="fab fa-facebook-f"></i></a>
          <a href="https://x.com/?lang=en" class="text-light mr-3" target="_blank" rel="noopener noreferrer"><i
              class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/" class="text-light mr-3" target="_blank" rel="noopener noreferrer"><i
              class="fab fa-instagram"></i></a>
          <a href="https://www.youtube.com/" class="text-light" target="_blank" rel="noopener noreferrer"><i
              class="fab fa-youtube"></i></a>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-4 py-4">
        <h5 class="text-uppercase mb-3">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'home' %}" class="text-light">Home</a></li>
          <li><a href="{% url 'products' %}" class="text-light">Products</a></li>
          <li><a href="{% url 'contact' %}" class="text-light">Contact Us</a></li>
        </ul>
      </div>
      <div id="mc_embed_shell">
        <div id="mc_embed_signup">
          <form
            action="https://herokuapp.us16.list-manage.com/subscribe/post?u=dfae06a4b0c8b82eb05a5c835&amp;id=d838b66637&amp;f_id=00dcc2e1f0"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
            target="_blank">
            <div id="mc_embed_signup_scroll">
              <h2>Subscribe to our newsletter</h2>
              <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
              <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span
                    class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email"
                  id="mce-EMAIL" required="" value=""></div>
              <div id="mce-responses" class="clear foot">
                <div class="response" id="mce-error-response" style="display: none;"></div>
                <div class="response" id="mce-success-response" style="display: none;"></div>
              </div>
              <div aria-hidden="true" style="position: absolute; left: -5000px;">
                /* real people should not fill this in and expect good things - do not remove this or risk form bot
                signups */
                <input type="text" name="b_dfae06a4b0c8b82eb05a5c835_d838b66637" tabindex="-1" value="">
              </div>
                <div class="optionalParent">
                  <div class="clear foot">
                <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
              </div>
            </div>
          </form>
        </div>
      </div>

      <hr class="bg-light">
      <div class="text-center">
        <p class="mb-0">&copy; The website is for education purpose only </p>
      </div>
</footer>